{{ define "main" }}
    <div class="overmij">
        <div class="overmij-container">
        
            <h1 class="overmij-title">Over mij</h1>
            
            <div class="">
                <div class="cv-overmij">
                    <img class="cv-image" src="/images/RubenPf.png" alt="">
                </div>

                <p class="cv-text">
                    Oi, ik ben Ruben, beter bekend als Roebah.
                    Meer moete nie weten.
                </p>
                
            </div>

        </div>
    </div>
{{ end }}