.events{
    padding-top: 80px;
    padding-bottom: 128px;
    background-color: #f1f1f1;
    
}
.events-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.event{
    background-color: #fff;
}

.event-container{
    max-width: $size-screen-xl;
    width: 100%;
    margin: 0 auto;
}

.events-title{
    font-family: "Roboto";
    @include font-size($title-font-sizes);
    font-weight: 700;
    color: #000;
}

.event{
    background-color: white;
    padding: 1rem;
}
.event-title{
    font-family: $font-primary;
    @include font-size($title2-font-sizes);
    font-weight: 500;
    color: #000;
}

.event-paragraph{
    font-family: $font-secondary;
    @include font-size($p-font-sizes);
    font-weight: 300;
    color: black;
    line-height: 42px;
}

.event-link{
    font-family: $font-secondary;
    @include font-size($p-font-sizes);
    color: $color-primary;
}

.event-slider{
    height: 560px;
    margin-bottom: 10px;
    width: 100%;
    background-color: black;
}

.event-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}