<header class="header">
    <div class="header-container">
        <a href="/" class="header-logo">
            <img src="/images/bgImage.png" alt="">
        </a>
        <nav class="header-nav">
            <div class="header-nav-toggler">
                <p id="header-nav-open" onclick="togglenav()" class="header-nav-item ">Menu</p>         
                <p id="header-nav-close" onclick="togglenav()" class="header-nav-item d-none">Close</p>         
            </div>
            <div id="header-mobile-nav" class="header-nav-menu">
                <a href="/" class="header-nav-item">Home</a>
            <!--<a href="/overmij" class="header-nav-item">Over mij</a>-->
                <a href="/streamers" class="header-nav-item">Streamers</a>
                <a href="/guides" class="header-nav-item">Guides</a>
            </div>
        </nav>
    </div>
</header>