<section class="about">
    <div class="about-container">
        <h2 class="about-title">Welkom</h2>
        <p class="about-paragraph">
            Welkom bij de Nederlandstalige Dead by Daylight community!
        </p>
        <p class="about-paragraph">
            Of je nu een veteraan bent of een nieuwkomer, 
            hier vind je streamers, evenementen en tips. 
            Sluit je aan en beleef samen de spanning van Dead by Daylight.
        </p>

        <!--
        <div class="about-links">
            <p><a class="about-link" download="RubenHeurckmansCv" href="/files/RubenHeurckmansCv.pdf">Discord??</a></p> 
        </div>
        -->
    </div>
</section>