<section class="events">
    <div class="event-container">
        <h2 class="events-title">Events</h3>
        <div class="events-container">
            <div class="event">
                <div class="event-slider">
                    <img class="event-image" src="/images/DbdToernooi2.png" alt="">
                </div>
                <h3 class="event-title">Dead by daylight toernooi</h3>
                <p class="event-paragraph">
                    Er is op dit moment nog geen datum vastgezet voor dit toernooi. Join de discord voor alle updates te krijgen.
                </p>
                <a class="event-link" target="_blank" href="https://discord.gg/zhPkZs8U">Toernooi discord</a>
            </div>
        </div>
    </div>
</section>